name: Deploy to AWS EC2

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT || 22 }}
          command_timeout: 30m
          script: |
            cd CloudIDE/cloud-ide && git checkout test && git pull origin test && npm install && pm2 restart cloud-ide || pm2 start npm --name "cloud-ide" -- run start
